	
	</article>
	<script src="/js/public/jquery.min.js"></script>
    <script src="/js/public/bootstrap.min.js"></script>
 	<% if (layer) { %><script src="/js/layer/layer.js"></script><% } %>
 	<% if (kindeditor) { %><script src="/js/kindeditor/kindeditor.js"></script><% } %>
 	<script src="/js/<%= resNmae %>/<%= resNmae %>.js"></script>
</body>
</html>

