	
</article>
<div class="z-publicFooter-box">
		
	<div class="z-footerInfo container">
		
		<p>
			
			<a target="_blank" href="">关于城会玩  </a>
			
			<i class="vs">|</i>
			
			<a href="mailto:weixinpay@tencent.com">联系邮箱</a>
			
			<i class="vs">|</i>
			
			<a target="_blank" href="">商户平台使用协议</a>
			
			<i class="vs">|</i>
			
			<font>Powered By Tencent & Tenpay　Copyright 2005-2016 Tenpay All Rights Reserved.</font>

		</p>
						
		<p>
		    <a target="_blank" href="">运动与健身活动</a>
		    <i class="vs">|</i>
		    <a target="_blank" href="">派对与娱乐活动</a>
		    <i class="vs">|</i>
		    <a target="_blank" href="">旅游与户外活动</a>
		    <i class="vs">|</i>
		    <a target="_blank" href="">文艺与手工活动</a>
		    <i class="vs">|</i>
		    <a target="_blank" href="">创业与投资活动</a>
		    <i class="vs">|</i>
		    <a target="_blank" href="">创业与投资活动</a>
		    <i class="vs">|</i>
		    <a target="_blank" href="">运动与健身活动</a>
		    <i class="vs">|</i>
		    <a target="_blank" href="">派对与娱乐活动</a>
		    <i class="vs">|</i>
		    <a target="_blank" href="">文艺与手工活动</a>
		    <i class="vs">|</i>
		    <a target="_blank" href="">旅游与户外活动</a>
		</p>
	
	</div>
	
</div>